@page "/usuarios/listado"
@using BlazorApp1.Data

@inject UsuarioService service
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Listado</h3>
<button class="btn" @onclick="()=>Editar(0)">Nuevo</button>
@if (usuarios == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in usuarios)
            {
            <tr>
                <td>@item.Nombre</td>
                <td><button class="btn" @onclick="()=>Editar(item.Id)">Editar</button> <button class="btn" @onclick="()=>Borrar(item.Id)">Borrar</button></td>
            </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await service.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("usuarios/editar/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el usuario?");
        if (confirmed)
        {
            await service.Remove(id);
            usuarios = await service.GetAll();
        }
    }
}
